/* stylelint-disable font-family-name-quotes */
/* stylelint-disable font-family-no-missing-generic-family-keyword */

/* -webkit-box-reflect: below 1px linear-gradient(transparent, #0005); */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

header {
  margin-top: 0;
  border: 1px rgb(222, 59, 255) solid;
  border-bottom: none;
  background-color: #3a0b46b6;
}

nav {
  min-height: 15vh;
}

.navigation > li {
  list-style-type: none;
  width: 150px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto";
  color: #03e9f4;
  cursor: pointer;
}

.navigation > li:hover {
  background-color: #03e9f4;
  color: #212121;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.navigation  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 21px;
  align-items: flex-end;
  border: 3px rgb(248, 73, 225) solid;
  border-left: none;
  border-right: none;
}

nav > h1 {
  text-align: center;
}

#title {
  color:rgb(222, 59, 255);
  font-family:'Ms Madi', sans-serif;
  font-weight: 400;
  font-size: 45px;
  font-style: normal;
  cursor: pointer;
}

#title:hover {
  background-color: rgb(222, 59, 255);
  color: #212121;
  box-shadow: 0 0 5px rgb(222, 59, 255), 0 0 25px rgb(222, 59, 255), 0 0 50px rgb(222, 59, 255),
    0 0 100px rgb(222, 59, 255);;
}

body {
  background-color: #000000;
}

section {
  background-color: rgba(7, 3, 66, 0.459);
  color:rgb(103, 177, 182);
  font-size: 20px;
  border: 1px rgb(0, 204, 255) solid;
}

.homeItems {
  padding-top: 30px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.homeItems > li {
  color:rgb(63, 194, 255);
  list-style-type: none;
  cursor: pointer;
  font-size: 16px;
  border:rgb(0, 204, 255) 1px  solid; 
  padding: 20px;
  text-transform: uppercase;
}

.homeItems > li:hover {
  background-color:rgb(63, 194, 255);
  color:rgb(0, 0, 0);
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
  0 0 200px #03e9f4;
}

p, label {
  color: rgba(215, 235, 231, 0.829);
  font-size: 20px;
}

.infoLi > li {
  color: rgba(215, 235, 231, 0.829);
}

#gif {
display: flex;
justify-content: center;
padding-top: 10px;
}

#gif > img {
  width: 350px;
  height: 310px;
  text-align: center;
}

#source {
  font-size: 11px;
}

a {
  color:rgb(103, 177, 182);
}