footer{
    padding: 5px 15px;
    background-color: #3a0b46b6;
    border: 1px rgb(222, 59, 255) solid;
    color: rgba(215, 235, 231, 0.829)
}

#source-columns{
    display: flex;
}

#source-columns > div{
    flex: 1;
}

.source {
    font-size: 1em;
}