.sleep-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.sleep-table {
  width: 80%;
  text-align: center;
}

table {
  border-spacing: 30px;
}

td {
  border: 1px rgb(0, 204, 255) solid;
  padding: 50px;
  color: #2196f3;
  text-transform: uppercase;
}

  td:hover {
    color: #204b70;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  }